/* About Section */

.about {
  padding: 0;
}

.about-bg {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  padding: 4rem;
}

.about__results {
  justify-content: space-around;
  text-align: center;
}

.about__results__box h3 {
  font-size: 3rem;
}

.about__results__box p {
  font-size: 1.5rem;
}

.about__doctor-information {
  width: min(800px, 100%);
  margin: 2rem auto;
  background-color: var(--light-blue);
  border-radius: 1rem;
  /* border: var(--bor1); */
}

.about__doctor-information__image {
  /* border-radius: 1rem; */
  width: 50%;
}

.about__doctor-information__image img {
  border-radius: 1rem;
}

.about__doctor-information__content {
  padding: 2rem;
  width: 50%;
}

.about__doctor-information__content__panaroma-text {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.35rem;
  font-weight: 700;
  color: var(--dark-blue);
}

.about__doctor-information__content h2 {
  font-family: "Calistoga", cursive;
  font-size: 3.5rem;
  color: var(--dark-blue);
}

.about__doctor-information__content__profession {
  font-size: 1.25rem;
}

.about__doctor-information__content__signature {
  font-family: "Calistoga", cursive;
  font-size: 2rem;
}
