/* Gallery section */

.section__image-box {
  margin-top: 2rem;
}

.image-main {
  display: flex;
  justify-content: space-between;
}

.image-main img {
  border-radius: 0.5rem;
}

.image-main__primary {
  width: 68%;
  padding: 1rem;
}

.image-main__secondary {
  width: 35%;
  padding: 1rem;
}
